In [ ]:
1). The for loop is used when we already know the number of iterations,
which means when we know how many times a statement has to be executed.
For example, if we want to check the grade of every student in the class, 
we loop from 1 to that number. When the number of times is not known before hand, we use a "While" loop.

 A "While" Loop is used to repeat a specific block of code an unknown number of times,
until a condition is met. For example, if we want to ask a user for a number between 
1 and 10, we don't know how many times the user may enter a larger number, so we keep 
asking "while the number is not between 1 and 10".

In [ ]:
#Write a python program to print the sum and product of the first 10 natural numbers using while loop.

In [1]:
print ("=====The First Natural Number==== ")
for i in range(1,11):
    print (i)

=====The First Natural Number====
1
2
3
4
5
6
7
8
9
10

In [2]:
num = 10
starting_point = 0 
counter = 1

while counter <= num :
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

55

In [3]:
factorial = 1 
while num > 0 :
    factorial = factorial*num
    num = num-1
factorial

3628800

In [ ]:
#Write a python program to print the sum and product of the first 10 natural numbers using for loop.

In [4]:
num=10
sum = 0
for i in range(num+1):
  sum+=i
print(sum)

55

In [5]:
num =10
product = 0
for i in range(1,9):
    product=product*num
print (product)

0

In [6]:
unit = int (input("ENTER YOUR UNIT"))
if unit <=100:
    p=unit * 4.5
    print (p)
elif unit <=200:
    p=unit * 5.25
    print (p)
elif unit <=300:
    p= unit * 6.834
    print (p)
elif unit >300:
    p = unit*7.2581

    print (p)

else:
    print ("enter valid number ")

ENTER YOUR UNIT 310

2250.011

In [ ]:
#Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [10]:
list = []

for i in range(1, 101):
    print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [19]:
cube=[]
for i in range(1,101):
    i = i**3
    print(i)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000